.info-card {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .blog-container-fluid, .blog-container {
    width: 1200px;
    margin: 20px auto auto auto;
  }
  .carousel-container {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .carousel-container {
    height: 200px;
  }
  .blog-container-fluid {
    margin: 20px auto auto auto;
  }
  /* fluid 没有左右margin，手机设备下会铺满左右 */
  .blog-container {
    margin: 20px 5px auto 5px;
  }
}
